.github/                       @VKCOM/vk-sec
src/interfaces/general         @VKCOM/vkui-design
src/interfaces/namespaces      @VKCOM/vkui-design
src/themeDescriptions/base     @VKCOM/vkui-design
src/themeDescriptions/common   @VKCOM/vkui-design
src/themeDescriptions/index.ts @VKCOM/vkui-design
