version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'daily'
    allow:
      - dependency-type: 'direct'
    open-pull-requests-limit: 10
    groups:
      react:
        patterns:
          - 'react'
          - 'react-dom'
          - '@types/react'
          - '@types/react-dom'
    eslint:
      patterns:
        - 'eslint*'
    jest:
      patterns:
        - 'jest*'
        - '@types/jest*'
        - 'babel-jest'
    prettier:
      patterns:
        - 'prettier'
        - '@vkontakte/prettier-config'
    reviewers:
      - 'VKCOM/vk-sec'
  - package-ecosystem: 'github-actions'
    # Workflow files stored in the
    # default location of `.github/workflows`
    directory: '/'
    schedule:
      interval: 'daily'
    reviewers:
      - 'VKCOM/vk-sec'
