node_modules/
/*/
!/src/generators/
!/src/themeDescriptions/
!/src/interfaces/
!/src/
!/demo
!/assets
!/.github
/**/*.d.ts
/**/*.js
!.eslintrc.js
!jest.config.js
.yarnclean
.DS_Store
.idea
./dist/
junit.xml
