node_modules/
/*/
!/src/generators/
!/src/themeDescriptions/
!/src/interfaces/
!/src/
!/demo
!/assets
!/lint
!/.github
/**/*.d.ts
/**/*.js
!/tasks
!/tasks/**/*.js
!/lint/*.js
!.eslintrc.js
!jest.config.js
!.prettierrc.js
.yarnclean
.DS_Store
.idea
./dist/
junit.xml
!/docs/
docs/src/**/*.d.ts
docs/public/**/*.json
docs/dist/
!.husky
