@import 'flex.css';
@import 'space.css';

.container {
	max-width: 1144px;
	margin: 0 auto;
	padding: 3rem 1rem;
	width: calc(100% - 2rem);
}

@media screen and (max-width: 1024px) {
	.container {
		padding: 1.5rem 1rem;
	}
}
