name: 'Common Checks'

on:
  push:
    branches:
      - master
  pull_request:

concurrency:
  group: test-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Node setup
        uses: ./.github/actions/node-setup
      - name: Run Lint
        run: yarn run lint

  test:
    uses: ./.github/workflows/reusable_workflow_test.yml
    permissions:
      id-token: write
    secrets: inherit

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Node setup
        uses: ./.github/actions/node-setup
      - run: yarn run build
      - run: yarn run docs:prepare-data
      - run: yarn run docs:build
