name: 'Publish release-candidate from package.json version'

on:
  - workflow_dispatch

jobs:
  publish:
    name: Publish release-candidate from package.json version
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          registry-url: 'https://registry.npmjs.org'
      - run: yarn install --frozen-lockfile --ignore-scripts
      - name: Publishing release
        run: npm run publish:dist
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPMJS_PUBLISH_TOKEN }}
