name: 'Reusable workflow / Unit tests'

on:
  workflow_call:
    inputs:
      ref:
        description: 'The branch, tag or SHA to checkout'
        default: ${{ github.ref }}
        required: false
        type: string

jobs:
  test:
    runs-on: ubuntu-latest
    name: Run unit tests
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ inputs.ref }}

      - name: Node setup
        uses: ./.github/actions/node-setup

      - name: Run tests
        run: yarn run test:ci

      - name: Upload test artifact
        if: always()
        uses: actions/upload-artifact@v5
        with:
          name: test-output
          path: |
            lcov.info

  deploy_test_coverage:
    if: ${{ !cancelled() && (success() || failure()) }}
    needs: test
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Download test artifact
        uses: actions/download-artifact@v6
        with:
          name: test-output

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          use_oidc: true
